@font-face {
  font-family: 'PP Neue Corp';
  src: url('https://cdn.prod.website-files.com/673af51dea86ab95d124c3ee/673b0f5784f7060c0ac05534_PPNeueCorp-TightUltrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  background-color: var(--color-neutral-300);
  color: var(--color-dark);
  font-size: var(--size-font);
  font-family: Arial, sans-serif; 
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b239d7aeb290a31ac5_cursor-default%402x.svg")
      2 0,
    auto;
}

a,
button {
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b212e6b71494aa67ff_cursor-pointer%402x.svg")
      12 0,
    pointer;
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.cursor {
  z-index: 1000;
  background-color: var(--color-primary);
  opacity: 0;
  pointer-events: none;
  color: var(--color-light);
  border-radius: .25em;
  padding: .3em .75em .4em;
  font-size: 1.15em;
  line-height: 1.5;
  transition: opacity .2s;
  position: fixed;
  inset: 0% auto auto 0%;
}

.cursor p{
  margin: 0px;
}

.button-row {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.button {
  text-transform: uppercase;
  color: var(--color-neutral-800);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: PP Neue Corp, Arial, sans-serif;
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  position: relative;
}

.button.secondary {
  color: var(--color-neutral-200);
}

.button-bg {
  z-index: 0;
  background-color: var(--color-light);
  border-radius: .5em;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.button-text {
  z-index: 1;
  position: relative;
}

body:has( [data-cursor]:hover ) .cursor{ opacity: 1; }


.button.secondary .button-bg{
	background-color: var(--color-neutral-700);
}

.button-bg{
	transition: transform 0.5s var(--cubic-default);
}

.button:hover .button-bg{
	transform: scale(0.95);
}

.osmo-credits {
  z-index: 999;
  pointer-events: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 1em;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1vw;
}

.osmo-credits__p {
  pointer-events: auto;
  color: rgba(19, 19, 19, 0.5);
  text-align: center;
  margin: 0;
  font-family: PP Neue Montreal, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.3;
}

.osmo-credits__p-a {
  color: var(--color-dark);
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('https://cdn.prod.website-files.com/6819ed8312518f61b84824df/6819ed8312518f61b84825ba_PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}